body {
    background: rgba(252, 252, 252, 0.774); 
}



header {
    display: block;
    background-size: cover;
    background-position: center;
    background-color: rgba(30, 30, 31, 0.527);
    border-radius: 20px;
}



header nav ul  {
    display: flex;
    font-weight: bold;
    list-style-type: none;
    margin: 0%;
    text-align: center;
    justify-content: space-between;
    padding: 30px;
}



header ul a {
    padding: 20px;
    color: white;
   display: contents; 
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 800;
} 
        







.container h1 {
    color: blue;
    font-size: 40px;
    text-transform: uppercase; 
    text-align: center;
}

.container h2  {
    color: rgb(10, 10, 10);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    padding: 20px;
    margin: 0px;
    align-items: center;
}

.container p {
  color: brown;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}


.container img {
    width: 200px;
    padding: 20px 20px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    display: flex;    
}








#orderForm {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 60px;
}


#orderForm button {
    background-color: red;
    color: bisque;
    border: none;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    
}



#orderForm button:hover {
    background-color: rgb(8, 8, 8);
}



#orderForm label {
    font-size: 20px;
    color: rgb(102, 12, 12);
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}

#orderForm input {
    width: 50px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid rgb(128, 128, 128);
    display: flex;
    align-items: center;
}









div #cart_products {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 50px;
    padding: 20px;
}


div #cart_products button {
    align-items: center;
    justify-self: center;
}
 






#cart_products button {
    background-color: rgb(19, 17, 17);
    padding: 8px;
    border-radius: 20px;
    color: white;
    border: 1px solid rgb(128, 128, 128);
    display: flex;
}
#cart_products button:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    cursor: pointer;
}












.order-details {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}


.order-details button a {
    text-decoration: none;
    color: rgb(255, 255, 255);

}









#confirmOrderButton {
    font-size: 16px;
    background-color: rgb(159, 238, 2);
   border: none;
    display: flex;
   padding: 20px;
    font-weight: bold;
   align-items: center;
   text-align: center;
   justify-content: center;
   border-radius: 20px;
   width: 200px;
   margin: 0px;
   height: 80px;
    cursor: pointer;


}

#confirmOrderButton:hover {
    background-color: rgb(133, 133, 133);
    }





    

    
footer {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        justify-items: center;
        padding-top: 40px;
        margin: 0%;
        color: rgba(0, 0, 0, 0.781);
      
    }
 
    

/************media**************/
    @media (max-width:1024px){
        
    }
        
   

    @media (max-width:768) {
        header {
            display: block;
            background-size: cover;
            background-position: center;
            background-color: rgba(30, 30, 31, 0.527);
            border-radius: 20px;
        }
    
    
        div #cart_products {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            gap: 50px;
            padding: 20px;
        }
        
        #orderForm {
            display: flex;
            justify-content: center;
            gap: 10px;
            padding: 60px;
        }
        #confirmOrderButton {
            font-size: 16px;
             background-color: rgb(159, 238, 2);
             border: none;
             display: flex;
        }      
}


@media (width >=440px) {
    header {
        display: block;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(30, 30, 31, 0.527);
        border-radius: 20px;
    }
   
}
    
       
    




